In [ ]:
#from google.colab import drive
#drive.mount('/gdrive')
#%cd /gdrive

In [ ]:
# Librarys
!pip install pandas & pip install sklearn

Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (1.0.5)
Requirement already satisfied: sklearn in /usr/local/lib/python3.6/dist-packages (0.0)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.6/dist-packages (from sklearn) (0.22.2.post1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas) (2018.9)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.6/dist-packages (from pandas) (1.18.5)
Requirement already satisfied: numpy>=1.11.0 in /usr/local/lib/python3.6/dist-packages (from scikit-learn->sklearn) (1.18.5)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas) (2.8.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn->sklearn) (0.15.1)
Requirement already satisfied: scipy>=0.17.0 in /usr/local/lib/python3.6/dist-packages (from scikit-learn->sklearn) (1.4.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.6.1->pandas) (1.12.0)

# Imports

In [ ]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer


#models
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import AdaBoostClassifier
import pickle

# EDA

In [ ]:
# Import datasets

#df_train = pd.read_csv('/gdrive/My Drive/- Data Science/artigo_fake_news/train.csv', encoding='utf-8')
#df_test = pd.read_csv('/gdrive/My Drive/- Data Science/artigo_fake_news/test.csv', encoding='utf-8')

# colab


df_train = pd.read_csv('/content/train.csv', encoding='utf-8', error_bad_lines=False)
df_test = pd.read_csv('/content/test.csv', encoding='utf-8',error_bad_lines=False)

In [ ]:
# Show first lines (Train)
df_train.head()

   id  ... label
0   0  ...     1
1   1  ...     0
2   2  ...     1
3   3  ...     1
4   4  ...     1

[5 rows x 5 columns]

In [ ]:
# Show first lines (Test)
df_test.head()

      id  ...                                               text
0  20800  ...  PALO ALTO, Calif.  —   After years of scorning...
1  20801  ...  Russian warships ready to strike terrorists ne...
2  20802  ...  Videos #NoDAPL: Native American Leaders Vow to...
3  20803  ...  If at first you don’t succeed, try a different...
4  20804  ...  42 mins ago 1 Views 0 Comments 0 Likes 'For th...

[5 rows x 4 columns]

In [ ]:
# Info about dataset (Train)
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20800 entries, 0 to 20799
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      20800 non-null  int64
 1   title   20242 non-null  object
 2   author  18843 non-null  object
 3   text    20761 non-null  object
 4   label   20800 non-null  int64
dtypes: int64(2), object(3)
memory usage: 812.6+ KB

In [ ]:
# Info about dataset (Test)
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5200 entries, 0 to 5199
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      5200 non-null   int64
 1   title   5078 non-null   object
 2   author  4697 non-null   object
 3   text    5193 non-null   object
dtypes: int64(1), object(3)
memory usage: 162.6+ KB

In [ ]:
# Verify nan in datasets (Train)
df_train.isna().sum()

id           0
title      558
author    1957
text        39
label        0
dtype: int64

In [ ]:
# Verify nan in datasets (Test)
df_test.isna().sum()

id          0
title     122
author    503
text        7
dtype: int64

# Transform data

In [ ]:
# Concatenate columns (Train)
df_train['full_text']= df_train['title']+ df_train['author']  + df_train['text']

# Concatenate columns (Test)
df_test['full_text']= df_test['title']+ df_test['author']  + df_test['text']

In [ ]:
# Fill 'na' with blankspace (Train)
df_train['full_text'] =df_train['full_text'].fillna('')

# Fill 'na' with blankspace (Test)
df_test['full_text'] =df_test['full_text'].fillna('')

In [ ]:
# Verify nan in datasets (Train)
df_train['full_text'].isna().sum()

0

In [ ]:
# Verify nan in datasets (Test)
df_test['full_text'].isna().sum()

0

In [ ]:
# Creating ngrams 
cv = CountVectorizer(ngram_range=(1, 2))

# Creating ngrams (Train)
counts_train = cv.fit_transform( df_train.full_text )

# Creating ngrams (Test)
counts_test = cv.transform( df_test.full_text )

In [ ]:

#split in train and test (df_train)
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(counts_train, df_train.label.values, test_size=0.25 ,random_state=42)

# Create models

In [ ]:
# Create a model AdaBoostClassfier
Adab= AdaBoostClassifier(DecisionTreeClassifier(max_depth=3),n_estimators=5)
Adab.fit(X_train, y_train)

adab_score_train = Adab.score(X_train, y_train)
adab_score_test = Adab.score(X_test, y_test)
print(f"Score for train {adab_score_train}")
print(f"Score for test {adab_score_test}")

In [ ]:
# Create a model Logistic Regression
lg = LogisticRegression(C=1e5)
lg.fit(X_train, y_train)

lg_score_train = lg.score(X_train, y_train)
lg_score_test = lg.score(X_test, y_test)
print(f"Score for train: {lg_score_train}")
print(f"Score for test: {lg_score_test}")

In [ ]:
# Export data to submit on kaggle
export_df = pd.DataFrame()
export_df['id'] = df_test.id
export_df['label'] = lg.predict(counts_test)
export_df.to_csv('submit_values.csv', index=False)

# Save model

In [75]:
# save vectorizer
pickle.dump(cv, open("vectorizer.pkl", "wb"))

In [ ]:
# save the model (LinearRegression)
pickle.dump(lg, open('model.pkl', 'wb'))



---